<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Amos Decker">
    <base target="_blank">
</head>
    
<body>
    <h1>YEAR – TITLE</h1>
    <span>TEXT and:<blockquote>"QUOTE"</blockquote></span>
    
    <hr>
    <center>
        <span>PHOTO DESCRIPTION</span>

        <a title="PHOTO DESCRIPTION" href="https://commons.wikimedia.org/wiki/File:%D0%A5%D0%A4%D0%A2%D0%98.jpg"><img style="max-height:90vh" alt="PHOTO DESCRIPTION" src="https://upload.wikimedia.org/wikipedia/commons/f/fe/%D0%A5%D0%A4%D0%A2%D0%98.jpg"></a>
    </center>
</body>
    
</html>