/* 
author: Amos Decker; 

styles specific to the index.html page
*/

.parallax
/*
    general properties of a parralax item
*/
{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}


/* front image of kids*/
#snow
{
	background-image: url("gb-images/front-image.jpg");
	width:100%; 
	height:auto;
}

@media only screen and (max-device-width: 1366px) {
	/* parallax doesn't work on some mobile devices, so turn it off for them */
  .parallax {
    background-attachment: scroll;
  }
}

/* for the snow pile nav bar on front page */
#nav-bar
{
	margin-bottom:15vmin; /*15 this is how much it pokes above the background parallax image */
	position:sticky;
	top:15vmin; /* this is how much there will be at the top when it is scrolled down */
}

.down-arrow
{
	animation-name: bounce-down;
  	animation-duration: .5s;
  	animation-iteration-count: 2;
  	animation-delay: 1s;
  	transition: transform .1s ease-in-out;
}

.down-arrow:hover
{
	transform: translateY(1vh);
}

@keyframes bounce-down
{
  0% {}
  50% { transform: translateY(1vh);}
  100% {}
}

#home
{
	position:absolute; top:-12vmin; left:15vw;
}

#contact
{
	position:absolute; top:-12vmin; left:30vw;
}

#faq
{
	position:absolute; top:-12vmin; left:45vw;
}

#registration
{
	position:absolute; top:-12vmin; left:60vw;
}

#snow-pile
{
	height:50vmin; 
	position:absolute;
	z-index:0;
	top:-50vmin;
}

#logo
{
	max-width: 13vw;
	max-height: 20vmin;
	position:absolute; 
	top:-15vmin;
}

#looking-for
{
	font-size:2.5vmin; 
	position:absolute; 
	left:75vw; 
	top:-13vmin; 
	width:15vw
}

#nav-bar-dropdown
{
	position:absolute; top:-12vmin; left:45vw; /*because menu is 10vw wide, placing it at 45vw puts it in the center*/
}